@font-face {
  font-family: "TT Travels-Bold";
  src: url(./fonts/TTTravels-Bold.ttf);
}
@font-face {
  font-family:"TT Travels-DemiBold" ;
  src: url(./fonts/TTTravels-DemiBold.ttf);
}
@font-face {
  font-family:"TT Travels-Light" ;
  src: url(./fonts/TTTravels-Light.ttf);
}
@font-face {
  font-family:"TT Travels-Medium" ;
  src: url(./fonts/TTTravels-Medium.ttf);
}
@font-face {
  font-family:"TT Travels-Regular" ;
  src: url(./fonts/TTTravels-Regular.ttf);
}
