@import "./font";
@import "./colors";
@import "./zeroing";

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.header-block {
  position: relative;
}
.nav {
  position: absolute;
  padding-left: 3.7%;
  padding-top: 1.2%;

  width: 100%;
}
.logo,
.switch,
.block-links,
.block-connection {
  display: inline-block;
}
.logo {
  padding-top: 0.36%;
  margin-right: 1.4%;
}
.switch {
  background-color: $White;
  border-radius: 25px;
  border: 2px solid white;
  vertical-align: top;
  margin-right: 6%;

  &__button {
    background-color: inherit;
    border-radius: 25px;
    cursor: pointer;
    border: 0px;
    color: $TextSecondary;
    &:first-child {
      margin-right: 4px;
      padding: 6.3px 11.5px;
    }
    &:last-child {
      padding: 6.3px 10px;
    }
    &_active {
      background-color: $Purple;
      color: $White;
      transition: all 400ms;
    }
    &-text {
      font-size: 14px;
      font-family: "TT Travels-DemiBold";
      line-height: 110%;
    }
  }
}
.block-links {
  vertical-align: top;
  padding-top: 0.61%;
  margin-right: 4.6%;
}
.list-items {
  display: flex;
  gap: 32px;
  @media (max-width: 1290px) {
    gap: 5px;
  }
  &__item {
    display: inline-block;
    align-items: center;

    &-link {
      text-decoration: none;
      color: $Black;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: 0.2px;
      font-family: "TT Travels-Medium";
      letter-spacing: 0.2px;
      font-weight: 500;
      &:hover {
        color: $Silver;
      }
    }
  }
}
.connection-number,
.time-info,
.menu {
  display: inline-block;
}
.block-connection {
  font-size: 16px;
  letter-spacing: 0.2px;
  color: $Black;
  font-family: "TT Travels-DemiBold";
  vertical-align: super;
  position: relative;

  & a {
    color: inherit;
    text-decoration-line: none;
  }
}

.connection-number {
  padding-right: 29px;
  position: relative;
  font-weight: 500;
  &:after {
    content: "";
    display: inline-block;
    height: 14px;
    width: 1.5px;
    position: absolute;
    background: $Black;
    right: 10px;
    top: 1px;
  }
}
.time-info {
  margin-right: 33px;
}
.menu {
  width: 22px;
  height: 10px;
  background-color: lawngreen;
}

.primary-block {
  display: flex;
  flex-direction: row;
  &-text {
    flex-basis: 50%;
    padding-left: 10.8%;
    padding-top: 15.5%;
  }
  &__foto {
    flex-basis: 50%;
  }
}
.header-info {
  color: $Black;
  max-width: 384px;
  font-family: "TT Travels-Regular";
  &__title {
    font-size: 76px;
    line-height: 110%;
    margin-bottom: 8%;
    font-weight: normal;
  }
  &__text {
    font-size: 18px;
    line-height: 140%;
  }
}
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5.07%;
  padding-left: 4.16%;
  padding-right: 4.16%;
  gap: 30px;
  justify-content: space-between;
  & .feature:nth-child(1) {
    transition: all 0.5s ease 0.1s;
  }
  & .feature:nth-child(2) {
    transition: all 0.5s ease 0.2s;
  }
  & .feature:nth-child(3) {
    transition: all 0.5s ease 0.3s;
  }
  & .feature:nth-child(4) {
    transition: all 0.5s ease 0.4s;
  }
}
.aa {
  width: 100%;
  height: 1000px;
}
.feature {
  position: relative;
  border-radius: 8px;
  background-color: $LightGrey;
  border-radius: 8px;
  flex-basis: 22.72%;
  transform: translate(0, 40%);
  opacity: 0;
  min-width: 225px;
  min-height: 268px;
  overflow: hidden;
  &._active {
    transform: translate(0, 0);
    opacity: 1;
  }
  &__block {
    padding-bottom: 71.1%;
  }

  &__info {
    background-color: $Purple;
    opacity: 0;
    position: absolute;
    height: 100%;
    z-index: 1;
    &:hover {
      visibility: none;
      height: 100%;
      z-index: 2;
      opacity: 1;
      border-radius: 8px;
      transition: all 300ms;
    }
    &-text {
      display: inline-block;
      color: $White;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      padding: 10% 10% 0 10%;
      font-family: "TT Travels-Regular";
    }
  }
  &__title {
    padding-top: 6.8%;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    font-family: "TT Travels-Medium";
    color: #404040;
    padding-left: 12.1%;
    padding-right: 12%;
    display: inline-block;
    margin-block-end: 0em;
    width: 100%;
  }
  &__foto1 {
    position: absolute;
    bottom: 0;
    left: 47%;
    transform: translateX(-50%);
  }
  &__foto2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__foto3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__foto4 {
    position: absolute;
    bottom: 0;
    left: 49%;
    transform: translateX(-50%);
  }
}

.information-block {
  display: flex;
  justify-content: space-between;
  max-width: 1097px;
  margin: 0 auto;
  padding-top: 10.5%;
  padding-right: 0.625%;
  padding-bottom: 3.57%;
  &__info {
    max-width: 417px;
    padding-top: 1.11%;
    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      color: $Black;
      font-family: "TT Travels-Regular";
    }
  }
  &__title {
    padding-left: 0.185%;
    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 44px;
      line-height: 120%;
      font-family: "TT Travels-Regular";
      color: $Black;
    }
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  &-nav {
    flex-grow: 1;
    background-color: $Purple;
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $White;
    font-family: "TT Travels-DemiBold";
    padding-top: 9.5%;
    padding-left: 14.05%;
    padding-bottom: 54%;
  }
  &__menu {
    padding-left: 16%;
    min-width: 330px;

    max-height: 279px;
    gap: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    &-item {
      display: inherit;
      font-style: normal;
      font-weight: normal;
      font-size: 44px;
      line-height: 120%;
      color: $White;
      opacity: 0.7;
      font-family: "TT Travels-Regular";
      cursor: pointer;
      &_active {
        font-style: italic;
        font-weight: normal;
        font-size: 44px;
        line-height: 120%;
        &::before {
          content: "→ ";
        }
      }
    }
  }
  &__foto {
    position: relative;
  }
}
.foto-slider {
  border-radius: 7px;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(28, 105, 177, 0.4);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(4, 49, 75, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(6, 31, 85, 0);
  }
}
.mes {
  display: inline-block;
  transform: translateZ(0);
}
.foto__button {
  border-radius: 50%;
  border: 1px solid $Purple;
  background-color: $Purple;
  color: $White;
  padding: 1px 7px;
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  opacity: 0;
  animation: pulse 2s infinite;

  &._active {
    opacity: 1;
    transition: 1s;
    transition-delay: 1.7s;
  }
  &:hover {
    transition: all 0.3s linear;
    animation: none;
  }
  &:hover .mes {
    transition: all 0.3s linear;
    transform: rotateZ(45deg);
    opacity: 1;
  }

  &._1,
  &._2,
  &._4 {
    &:nth-child(1) {
      top: 33%;
      left: 30%;

      &:hover::before {
        color: $TextSecondary;
        border-radius: 5px;
        content: "Чистим фасад вытяжки";
        padding: 8px 10px 8px 10px;
        width: 210px;
        position: absolute;
        top: -43px;
        font-family: "TT Travels-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 130%;
        background-color: white;
        left: -95px;
        transition: all 0.3s linear;
        transition-delay: 1s;
      }
    }
    &:nth-child(2) {
      top: 56%;
      left: 24.7%;
      &:hover::before {
        color: $TextSecondary;
        border-radius: 5px;
        content: "Чистим плиту";
        padding: 8px 10px 8px 10px;
        width: 210px;
        position: absolute;
        top: -43px;
        font-family: "TT Travels-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 130%;
        background-color: white;
        left: -95px;
        transition: all 0.3s linear;
        transition-delay: 1s;
      }
    }
    &:nth-child(3) {
      top: 89.3%;
      left: 28.2%;
      &:hover::before {
        color: $TextSecondary;
        border-radius: 5px;
        content: "Моем пол";
        padding: 8px 10px 8px 10px;
        width: 210px;
        position: absolute;
        top: -43px;
        font-family: "TT Travels-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 130%;
        background-color: white;
        left: -95px;
        transition: all 0.3s linear;
        transition-delay: 1s;
      }
    }
    &:nth-child(4) {
      top: 59.5%;
      left: 44.3%;
      &:hover::before {
        color: $TextSecondary;
        border-radius: 5px;
        content: "Выносим  мусор";
        padding: 8px 10px 8px 10px;
        width: 210px;
        position: absolute;
        top: -43px;
        font-family: "TT Travels-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 130%;
        background-color: white;
        left: -95px;
        transition: all 0.3s linear;
        transition-delay: 1s;
      }
    }
    &:nth-child(5) {
      top: 73.3%;
      left: 55.6%;
      &:hover::before {
        color: $TextSecondary;
        border-radius: 5px;
        content: "Протираем столешницу";
        padding: 8px 10px 8px 10px;
        width: 210px;
        position: absolute;
        top: -43px;
        font-family: "TT Travels-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 130%;
        background-color: white;
        left: -95px;
        transition: all 0.3s linear;
        transition-delay: 1s;
      }
    }
    &:nth-child(6) {
      top: 47.2%;
      left: 59.4%;
      &:hover::before {
        color: $TextSecondary;
        border-radius: 5px;
        content: "Моем фасады кухонных гарнитуров";
        padding: 8px 10px 8px 10px;
        width: 210px;
        position: absolute;
        top: -54px;
        font-family: "TT Travels-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 130%;
        background-color: white;
        left: -103px;
        transition: all 0.3s linear;
        transition-delay: 1s;
      }
    }
    &:nth-child(7) {
      top: 62.3%;
      left: 78.2%;
      &:hover::before {
        color: $TextSecondary;
        border-radius: 5px;
        content: "Моем посуду";
        padding: 8px 10px 8px 10px;
        width: 210px;
        position: absolute;
        top: -43px;
        font-family: "TT Travels-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 130%;
        background-color: white;
        left: -95px;
        transition: all 0.3s linear;
        transition-delay: 1s;
      }
    }
  }
  &._3,
  &._4 {
    &:nth-child(1) {
      top: 30.3%;
      left: 29.9%;
    }
    &:nth-child(2) {
      top: 47.3%;
      left: 65.8%;
    }
    &:nth-child(3) {
      top: 89.3%;
      left: 34.7%;
    }
    &:nth-child(4) {
      top: 88.5%;
      left: 60.3%;
    }
    &:nth-child(5) {
      top: 79.8%;
      left: 83.4%;
    }
  }
}

.slider-nav {
  transform: translateX(-50%);
  opacity: 0;
  &._active {
    transform: translateX(0);
    transition: 2s;
    transition-delay: 1s;
    opacity: 1;
  }
}
.slider__foto {
  flex: 0 0 100%;
  height: 100%;
}
.slider-wrap {
  display: flex;
  position: relative;
  left: 0%;
}
.slider-picture {
  transform: translateX(-187px) scaleX(1.027) translateY(0px);

  overflow: hidden;
  max-width: 1065px;
  &._active {
    transform: translateX(0px) scaleX(1) translateY(0);
    transition: 2s;
    position: relative;
    overflow: hidden;
  }
}

.hamburger-menu {
  display: inline-block;
  width: 24px;
}
#menu__toggle {
  opacity: 0;
  width: 100%;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  opacity: 1;
  right: 0;
  display: block;
}

.menu__btn {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before {
  display: block;
  position: absolute;
  width: 87%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
  width: 100%;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: none;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 39px;
  right: 0%;
  width: 300px;
  list-style: none;
  background-color: #f9fbfd;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition: all 1s linear;
}

.menu__item {
  display: block;
  padding: 10px 18px;
  color: $Black;
  font-family: "TT Travels-Medium";
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #cfd8dc;
}

.buyButton-block {
  position: absolute;
  top: 0;
  left: 0;

  &-wrap {
    position: fixed;
    bottom: -51px;
    left: 50%;
    transform: translateX(-50%);

    &__button {
      padding: 0;
      width: 176px;
      height: 176px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      background-color: $Purple;
      transition: all 0.5s linear;
      &-text {
        display: inline-block;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        font-family: "TT Travels-DemiBold";
        color: $White;
        animation: asda 30s infinite linear;
        animation-delay: 0s;
      }
      &:hover {
        transform: scale(1.2) translateY(-51px);
        transition: all 0.5s linear;
      }
    }
  }
  @keyframes asda {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
@media (max-width: 1425px) {
  .logo {
    margin-right: 1%;
  }
  .switch,
  .block-links {
    margin-right: 1%;
  }
}
@media (max-width: 1200px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
  }
  .block-connection {
    flex-grow: 1;
    text-align: end;
  }
  .block-links {
    order: 1;
    flex-grow: 1;
  }
  .list-items {
    justify-content: center;
  }
  .feature__info-text {
    padding: 5% 5% 0 5%;
  }
  .buyButton-block-wrap__button {
    width: 156px;
    height: 156px;
  }
}

@media (max-width: 1000px) {
  .primary-block-text {
    padding-left: 7.8%;
    padding-top: 10.5%;
  }
  .header-info__title {
    font-size: 65px;
  }
  .features {
    justify-content: space-evenly;
  }
  .slider__title {
    padding-bottom: 23%;
  }
  .buyButton-block-wrap__button {
    width: 126px;
    height: 126px;
  }
}

@media (max-width: 785px) {
  .primary-block {
    flex-direction: column;
  }
  .primary-block__picture {
    width: 100%;
  }
  .header-info {
    max-width: 100%;
  }
}

@media (max-width: 500px) {
  .information-block {
    flex-wrap: wrap;
    padding-left: 5%;
  }
}
@media (max-width: 900px) {
  .slider {
    flex-direction: column;
  }
  .slider__title {
    padding-bottom: 4%;
    padding-top: 2.5%;
  }
  .slider__menu {
    flex-wrap: wrap;
    padding-left: 0px;
    flex-direction: row;
  }
}
@media (max-width: 400px) {
  .list-items {
    flex-wrap: wrap;
  }
  .list-items__item {
    flex-basis: 100%;
  }
  .slider__menu {
    min-width: none;
  }
}
